
.svg-bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}
body, html {
    overflow: scroll;
}


.bg {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: -1; 
}

.bg svg {
    width: 100%; 
    height: auto; 
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: auto;
    padding: 20px;
    gap: 10px;
}

.ratingBox{
    margin: auto;
    padding: 25px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.ratings{
    width: 300px;
}
.deleteBtn{
    display: flex; 
    justify-content: flex-end; 
    margin-top: 1rem;
}

.opinionText {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

hr{
    width: 100%;
}

p{
    font-size: large;
}

.eventName{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 140%;
    

}

small{
    margin-top: 5px;
}

input{
    width: 75%;
}

.eventName{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventDesc{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventCalendar{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventAddress{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.eventEndStart{
    display: flex;
    align-items: baseline;
    height:auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 8px;
    margin-bottom: 15px;
    
}

.actionButton{
    display: flex;
    justify-content: flex-end;
}

.category{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.jelentkezesBtn{
    background-color: #035559;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    font-size: medium;
    align-self: center;
}

.jelentkezesBtn:hover{
    background-color: #043f44;
}

p-card {
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

p-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

p-card .p-card-header {
  padding: 0;
  border-radius: 8px 8px 0 0;
}

p-card .p-card-body {
  padding: 16px;
}

.clickable-header {
  cursor: pointer;
  text-decoration: none; /* opcionális */
}

.card-header {
  padding: 0.5rem 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}