.menubar {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: 100%; 

    
}
  
::ng-deep .p-menubar  {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: auto; 
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: larger;
}

::ng-deep .p-menubar-button {
    width: 150px !important;
    height: auto !important;
    border-radius: 0;
}

::ng-deep .p-icon {
    width: 30px;
    height: 30px;
}
  
