    <div class="menubar">
    
        <p-menubar [model] = "items" >
          
          
          <p-dialog header="Felhasználói Feltételek" [modal]="true" [(visible)]="visible" [style]="{ width: '100%' }">
             <p class="felhasznFeltetelek"> <b>1. Bevezetés</b> <br> <br>
              A jelen Általános Felhasználási Feltételek (a továbbiakban: „Feltételek”) az Eventify fejlesztői csapata (a továbbiakban: „Szolgáltató”) által üzemeltetett weboldal (a továbbiakban: „Weboldal”) használatára vonatkozó szabályokat és feltételeket tartalmazza. A Weboldalon való böngészéssel, regisztrációval, valamint a szolgáltatások igénybevételével a felhasználó (a továbbiakban: „Felhasználó”) elfogadja és kötelező érvényűnek tekinti a jelen Feltételeket. A Felhasználó felelőssége, hogy alaposan átolvassa azokat.
              <br>
              <br>
              <b>2. Szolgáltatás Leírása </b> <br> <br>
              A Weboldalon elérhető szolgáltatások: esemény létrehozás, törlés, módosítás, feliratkozás más eseményre. A Szolgáltató fenntartja a jogot, hogy bármikor módosítsa a Weboldalon elérhető szolgáltatásokat. A szolgáltatásokat a Weboldalon található információk alapján lehet igénybe venni.
              <br> <br>
             <b> 3. Regisztráció és Felhasználói Fiók </b> <br> <br>
              A Weboldalon való regisztráció nem kötelező, de bizonyos szolgáltatásokhoz szükséges lehet. A regisztráció során a Felhasználónak pontos, valós adatokat kell megadnia. A regisztrált Felhasználó felelősséget vállal a belépési adatai titokban tartásáért és a fiók biztonságáért. A regisztrációs adatok pontosítása és frissítése a Felhasználó feladata.
              A felhasználói fiók létrehozása és használata ingyenes.
              <br> <br>
              <b>4. Felhasználói Jogok és Kötelezettségek </b> <br> <br>
              A Felhasználó jogosult a Weboldalon elérhető szolgáltatásokat és tartalmakat saját személyes használatra igénybe venni, azokat harmadik fél számára nem értékesítheti, nem adhatja tovább, nem másolhatja, nem terjesztheti.
              A Felhasználó kötelezettséget vállal arra, hogy:
              Nem használja a Weboldalt jogellenes célokra, és nem sérti meg mások jogait.
              Tiszteletben tartja a Szolgáltató és más Felhasználók jogait.
              Nem végez semmilyen olyan tevékenységet, amely a Weboldal működését hátráltatja vagy megszhakítja.
              <br> <br>
              <b> 5. Szellemi Tulajdonjogok </b> <br><br>
              A Weboldalon található összes tartalom, beleértve a szövegeket, képeket, grafikákat, logókat, videókat és szoftvereket, a Szolgáltató vagy annak jogtulajdonosai szellemi tulajdonát képezi, és a vonatkozó jogszabályok védelme alatt áll. A Felhasználó nem jogosult a Weboldalon található tartalom másolására, módosítására, terjesztésére, közzétételére vagy bármely más, a szellemi tulajdonjogokat sértő tevékenység végzésére, kivéve, ha arra kifejezett engedélyt kapott a Szolgáltatótól.
              <br><br>
              <b>6. Adatkezelés és Adatvédelem</b> <br><br>
              A Weboldalon történő regisztrációval és a szolgáltatások igénybevételével a Felhasználó beleegyezik, hogy személyes adatokat ad meg, amelyeket a Szolgáltató az adatvédelmi szabályzatában foglaltak szerint kezel. A Szolgáltató az adatokat bizalmasan kezeli, és mindent megtesz azok védelme érdekében.
              A Felhasználó bármikor kérhet tájékoztatást a kezelt személyes adatainak köréről, azok helyesbítését, törlését, valamint adatkezelésük korlátozását vagy ellenezhetik azok kezelését.
              <br><br>
              <b>7. A Szolgáltatás Elérhetősége és Korlátozások</b> <br><br>
              A Weboldal folyamatos működése nem garantált. A Szolgáltató minden tőle telhetőt megtesz annak érdekében, hogy biztosítsa a szolgáltatások folyamatos elérhetőségét, azonban nem vállal felelősséget a rendszerleállásokért vagy más technikai problémákért. A Szolgáltató jogosult bármikor módosítani, felfüggeszteni vagy megszüntetni a szolgáltatásokat.
              <br><br>
              <b>8. Felelősség Kizárása</b> <br><br>
              A Szolgáltató nem vállal felelősséget semmilyen közvetett vagy közvetlen kárért, amely a Weboldal használatából, a Weboldalon található tartalom hibájából, a szolgáltatásainkhoz való hozzáférés megszakadásából, vagy bármely más technikai problémából adódik. A Weboldalon található információk és anyagok kizárólag tájékoztató jellegűek, és azok felhasználása a Felhasználó saját felelősségére történik.
              <br><br>
              <b>9. A Szerződés Módosítása</b> <br><br>
              A Szolgáltató jogosult bármikor módosítani a jelen Általános Felhasználási Feltételeket, és a módosított Feltételek a Weboldalon való közzétételüket követően azonnal hatályba lépnek. A Felhasználó köteles időről időre ellenőrizni a Feltételeket, hogy tisztában legyen azok változásaival. A Weboldal továbbra is történő használata a módosított Feltételek elfogadását jelenti.
              <br><br>
              <b>10. Kapcsolatfelvétel</b> <br><br>
              Ha bármilyen kérdése van a jelen Általános Szerződési Feltételekkel kapcsolatban, kérjük, lépjen kapcsolatba velünk az alábbi elérhetőségeken:
              E-mail cím: asd
            </p>
              <div class="flex justify-content-end gap-2">
                  <p-button label="Elolvastam " severity="secondary" (onClick)="visible = false" />
              </div>
          </p-dialog>
      
      </p-menubar>
      
      </div>