body, html {
    overflow: scroll;
}

.svg-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}
  
.svg-bg svg {
    position: relative;
    height: 100vh;
    width: auto;
    left: 0;
    max-width: none;
  
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.eventName{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 5px;
}

small{
    margin-top: 5px;
}

input{
    width: 30%;
}

.eventDesc{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.eventCalendar{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.eventAddress{
    height:auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
