<p>Statisztikák</p>

<div class="container">
  <div class="baloldal">
    <div class="infoSor">
      <div class="letrehozottEvent"><span>1234</span></div>
      <div class="avgErtekeles"><span>3.6</span></div>
      <div class="kedvencKategoria"><span>Koncert</span></div>
    </div>

    <div class="tablazat">  
        <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>

        <div class="tablazat2">
        <p-chart id="kor"
            type="pie" 
            [data]="pieData" 
            [options]="pieOptions" 
            style="max-width: 40%; display: block; margin: 0 auto;">
        </p-chart>

        <p-chart id="vonal"
            type="line" 
            [data]="lineData" 
            [options]="lineOptions" 
            style="max-width: 600px; display: block; margin: 0 auto;">
        </p-chart>
        </div>

    </div>
  </div>

  

  <div class="jobboldal">
    <h2>Kategóriák, amiket ajánlunk:</h2>
  </div>
</div>
