.svg-bg svg {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    overflow: hidden;
    z-index: -5;
}

.content{
    display: flex;
    flex-direction: column;
}

.cimsor{
    text-align: center;
}

.felsodiv {
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px;

}

.alsodiv{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.admin-btn {
    background-color: #035559;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-size: large;
}

.admin-btn:hover {
    background-color: #043f44;
}

.user-table {
    background-color: white;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
}

.user-table th,
.user-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.user-table th {
    background-color: #f2f2f2;
}

.user-table td:last-child {
    display: flex;
    gap: 10px;
}

.user-table button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.user-table .edit-btn {
    background-color: #ffca28;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.user-table .delete-btn {
    background-color: #e53935;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.user-table .edit-btn:hover{
    background-color: #b98e0d;
}

.user-table .delete-btn:hover{
    background-color: #9e1b19;
}