/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';  /* Ikonok */
@import '../node_modules/primeng/resources/themes/aura-dark-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.css'; /* PrimeNG alap CSS */


body {
   //background-color: white;
    font-family: 'Rubik', sans-serif;
    overflow: scroll;
}

.p-icon {
    width: 20px !important;
    height: 20px !important;
  }
  