<div class="content">

    <p-card  [style]="{ width: '560px' }">
  
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
      </ng-template>
      
      <div class="eventName">
        <label for="name"><b>Név</b></label>
        
      </div>
  
      <hr>
  
     <div class="eventDesc">
      <label for="eventDesc"><b>Leírás</b></label>
        
     </div>
  
     <hr>
  
     <div class="eventCalendar">
      <label for="eventCalendar"><b>Dátum</b></label>
      
     </div>
  
     <hr>
  
     <div class="eventAddress">
      <label for="eventAddress"><b>Cím</b></label>
      
    </div>
  
    <hr>
  
    <label for="eventEndStart"><b>Esemeny kezdete és vége</b></label>
    <div class="eventEndStart">
  
      <label id="eventEndStart-help">
        Kezdés:
      </label>
  
      
  
      <label id="eventEndStart-help">
        Vég:
      </label>
  
        
  
      
    </div>
  
      <ng-template pTemplate="footer">
          <div class="actionButton">
              <p-button severity="warning" label="Módosítás" class="w-full" styleClass="w-full" />
              <p-button severity="danger" label="Törlés" class="w-full" styleClass="w-full" />
          </div>
      </ng-template>
  </p-card>
  
  </div>

   