/* Általános stílusok */
.menubar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

::ng-deep .p-menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

p-button {
  margin: 0 15px;
}

p-iconField {
  margin: 0 15px;
}

/* Kép háttér */
.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  margin-top: 150px;
  z-index: 5;
}

.svg-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
}

.svg-bg svg {
  height: 100vh;
  width: auto;
  left: 0;
  max-width: none;
}

/* Alap felhasználói feltételek */
.felhasznFeltetelek {
  text-align: justify;
}

/* Tartalom középre igazítása */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
}

/* Események szekció */
section {
  width: 100%;
  padding: 2rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* Kártyák stílusa */
p-card {
  background-color: rgba(255, 255, 255, 0.9); /* Világos háttér */
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

p-card:hover {
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

p-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

p-card .p-card-header {
  padding: 0;
  border-radius: 8px 8px 0 0;
}

p-card .p-card-body {
  padding: 16px;
}

p-card .p-card-footer {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

p-button {
  width: 48%;
  margin: 0;
}

/* Reszponzív beállítások */

/* Mobil nézet (max 768px) */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr; /* Mobil nézetben egy oszlop */
  }

  p-card {
    width: 100%; /* Teljes szélességű kártyák */
    margin-bottom: 1rem;
  }
}

/* Asztali nézet (min 1024px) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 kártya egy sorban */
  }

  p-card {
    width: 100%; /* 100%-os szélesség, hogy a kártyák jól illeszkedjenek */
  }
}

/* Nagy asztali nézetek (min 1400px) */
@media (min-width: 1400px) {
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 kártya egy sorban */
  }
}
