html body {
  overflow: scroll;
}

.bg {
  position: fixed; /* Fixált pozicionálás, így mindig az ablak alján marad */
  bottom: 0; /* Az oldal aljára igazítja */
  left: 0; /* A bal oldalra helyezi */
  width: 100%; /* Az egész képernyő szélességét lefedi */
  z-index: -1; /* A háttérbe helyezi, hogy ne takarja el a tartalmat */
}

.bg svg {
  width: 100%; /* Az SVG kitölti a konténert */
  height: auto; /* A magasság automatikusan igazodik a szélességhez */
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;

  .baloldal {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    padding: 10px;
    margin-top: 1rem;
    background-color: #131313;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}

.pfp {
  background-color: black;
  width: 170px;
  height: 170px;
  margin-top: 50px;
  border-radius: 100%;
}

p-button {
  width: 150px;
}

::ng-deep .username-dialog {
  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 0.5rem;
  }

  .form-field {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    input {
      width: 100%;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
  }
}

.action-buttons {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.jobboldal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  padding-left: 30px;
  margin-top: 1rem;
  background-color: #131313;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-left: 15px;
}

::ng-deep textarea {
  width: 100%;
}

.saveBtn {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}
