html, body {
    height: 100vh; /* Biztosítja, hogy a body teljes magasságot vegyen fel */
    margin: 0; /* Eltávolítja az alapértelmezett margókat */
    display: flex; /* Flexbox elrendezés használata a középre igazításhoz */
    justify-content: center; /* Középre igazítja vízszintesen */
    align-items: center; /* Középre igazítja függőlegesen */
    overflow: scroll;
}

.profileContainer {
    display: flex;
    width: 80%;
    height: 90vh;
    padding: 30px;
    background-color: #121212;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: auto;
    gap: 35px;
    margin-top: 90px;
}

.leftSide {
    display: flex;
    justify-content: space-between;
    background-color: #035d61;
    height: 100%;
    width: 60%;
    border-radius: 15px;
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex-direction: column;
}

.rightSide {
    display: flex;
    flex-direction: column; /* A jobb oldali két divet egymás alá rendezzük */
    width: 40%;
    height: 100%; /* A jobb oldal magassága az egész konténerre vonatkozik */
    border-radius: 15px;
}

.rightSideTop {
    display: flex;
    align-items: flex-end;
    background-color: #035d61;
    height: 50%; /* A felső rész felét fogja elfoglalni */
    margin-bottom: 35px;
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.rightSideBottom {
    display: flex;
    align-items: flex-end;
    background-color: #035d61; /* Kék szín az alsó részhez */
    height: 50%; /* Az alsó rész felét fogja elfoglalni */
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.leftSide, .rightSideTop, .rightSideBottom {
    opacity: 0;
    transform: translateY(30px); /* Elmozdulás lefelé */
    animation: slideIn 0.6s ease-out forwards; /* Animáció hozzáadása */
}

@keyframes slideIn {
    to {
        opacity: 1; /* Az elem fokozatosan láthatóvá válik */
        transform: translateY(0); /* Az elem visszaáll az eredeti helyére */
    }
}



.pfpDiv{
    display: flex;
    justify-content: flex-start;
    background-color: #121212;
    width: 100%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;

}

.actionButtons {
    width: 200px;
    height: 70%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    border-radius: 15px;
    gap: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.update-btn {
    background-color: #035559;
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 140px;
    margin-top: 10px;
}


@media (max-width: 768px) {
    .profileContainer {
        flex-direction: column; /* A teljes tartalom egymás alá kerül */
        width: 100%; /* A konténer szélességét 100%-ra állítjuk */
        height: auto; /* Az auto magasság biztosítja a tartalom magasságát */
    }

    .leftSide, .rightSide {
        width: 100%; /* A bal és jobb oldali részek is 100%-os szélességűek lesznek */
        height: auto; /* Az auto magasság biztosítja, hogy ne legyenek túl magasak */
        margin-bottom: 20px; /* Kis margó a div-ek között */
    }

    .rightSideTop, .rightSideBottom {
        height: auto; /* Az alsó és felső részek is automatikus magasságúak lesznek */
        margin-bottom: 15px; /* Kis margó a div-ek között */
    }
}

.content{
    display: flex;
    flex-direction: column;
}

::ng-deep .p-button {
    width: 150px !important;      
    height: 60px !important;      
    font-size: 16px !important;   
}

