<div class="profileContainer">
    <div class="leftSide">
        <div class="pfpDiv"></div>
        <div class="actionButtons">
            
            <div class="card flex justify-content-center">
                <p-button (onClick)="showUserNameDialog()" label="Felhasználónév változtatás"  />
                <p-dialog header="Felhasználónév változtatás" [modal]="true" [(visible)]="visibleUser" [draggable]="false">
                    <div class="content">
                        <p>Felhasználónév</p>
                        <input pInputText id="username" class="flex-auto" autocomplete="off" />
                        <p>Jelszó</p>
                        <input pInputText id="password" class="flex-auto" autocomplete="off" />
                        <br>
                        <p-button label="Mentés" (onClick)="visibleUser = false" />
                    </div>
                </p-dialog>
            </div>
            
            <div class="card flex justify-content-center">
                <p-button (onClick)="showEmailDialog()" label="Email cím változtatás" id="gonb" />
                <p-dialog header="Email cím változtatás" [modal]="true" [(visible)]="visibleEmail" [draggable]="false"  >
                    <div class="content">
                        <p>Új email cím</p>
                        <input pInputText id="email" class="flex-auto" autocomplete="off" />
                        <p>Új email cím megerősítése</p>
                        <input pInputText id="emailConf" class="flex-auto" autocomplete="off" />
                        <p>Jelszó</p>
                        <input pInputText id="password" class="flex-auto" autocomplete="off" />
                        <br>
                        <p-button label="Mentés" (onClick)="visibleEmail = false" />
                    </div>  
                </p-dialog>
            </div>

            <div class="card flex justify-content-center">
                <p-button (onClick)="showPasswdDialog()" label="Jelszó változtatás" id="gonb" />
                <p-dialog header="Jelszó változtatás" [modal]="true" [(visible)]="visiblePass" [draggable]="false"  >
                    <div class="content">
                        <p>Régi Jelszó</p>
                        <input pInputText id="username" class="flex-auto" autocomplete="off" />
                        <p>Új jelszó</p>
                        <input pInputText id="password" class="flex-auto" autocomplete="off" />
                        <p>Új jelszó megerősítése</p>
                        <input pInputText id="passwordConf" class="flex-auto" autocomplete="off" />
                        <br>
                        <p-button label="Mentés" (onClick)="visiblePass = false" />
                    </div>
                </p-dialog>
            </div>

        </div>
    </div>
    <div class="rightSide">
        <div class="rightSideTop">
            
            
        </div>
        <div class="rightSideBottom">
        </div>
    </div>
</div>

<app-footer></app-footer>